/*

!.gitignore
!.README.md
!dt-git-annex-dev-1.rockspec
!git-annex.lua

!lib/
lib/lib/luarocks/
!lib/share/
!lib/share/lua/
!lib/share/lua/5.4/
!lib/share/lua/5.4/pl/
lib/share/lua/5.4/pl/*
!lib/share/lua/5.4/pl/stringx.lua
!lib/share/lua/5.4/pl/pretty.lua
!lib/share/lua/5.4/pl/utils.lua
!lib/share/lua/5.4/pl/types.lua
!lib/share/lua/5.4/pl/lexer.lua
!lib/share/lua/5.4/pl/compat.lua
!lib/share/lua/5.4/pl/List.lua
!lib/share/lua/5.4/pl/class.lua
!lib/share/lua/5.4/pl/tablex.lua
!lib/share/lua/5.4/pl/Date.lua
!lib/share/lua/5.4/pl/path.lua
